*{
    box-sizing: border-box;
    margin:0;
    padding:0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
html{
    font-size: 16px;
}
body{
    height:100vh;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    background-color:rgb(7, 7, 29);
}

.debug-xy-text{
    color:#fff;
    font-size:10px;
    white-space: nowrap;
}
h1{
    font-family: 'Press Start 2P','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}



#board{
    display: flex;
    flex-flow: column nowrap;
}

.row{
    display: flex;
    flex-flow: row nowrap;
}

.square{
    width:30px;
    height:30px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transition: background-color 50ms, opacity 1s;
    opacity: 0.0;
    border: 1px solid #333;
}

/* Game interface */

#game-wrapper{
    width:0;
    height:0;
    transition: width 1s, border 1s, height 1s, background-color 1s;
    transition-timing-function: ease;
    transition-timing-function:cubic-bezier(.6,.04,.98,.34);
}

#main-menu{
    padding:16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: opacity 500ms;
}

#main-menu > span{
    margin-top:8px;
}

.menu-text{
    font-family: 'Press Start 2P','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-small{
    font-size:12px;
}

.text-large{
    font-size:24px;
}
#difficulty-select{
    margin-top:16px;
    width:100%;
    display:flex;
    flex-flow:row nowrap;
}

#difficulty-select > * {
    flex:1;
    border: 1px solid white;
    padding:16px 10px;
    text-align: center;
    transition: background-color 100ms, color 100ms;
}

#difficulty-select > *:hover{
    color: #000;
    background-color:#fff;
    user-select: none;
    cursor: pointer;
}

#start-button{
    text-align: center;
    width:100%;
    padding:16px;
    border:1px solid #fff;
}

#start-button:hover{
    color: #000;
    background-color:#fff;
    user-select: none;
    cursor: pointer;
}

#game-over-menu{
    padding: 16px;
    border:1px solid white;
    width:300px;
    height:300px;
    background-color: #000;
    position: absolute;
    color: #fff;
    display:flex;
    flex-flow:column nowrap;

}

#game-over-menu > span{
    width:100%;
    text-align:center;
}

#game-over-select{
    margin-top:16px;
    display: flex;
    flex-flow: column nowrap;
    
}

#game-over-select > span {
    white-space: nowrap;
    border: 1px solid white;
    padding:8px;
    text-align: center;
}

#game-over-select > span:hover{
    color: #000;
    background-color:#fff;
    user-select: none;
    cursor: pointer;
}

